# Ignore python garbage collection
__pycache__
*.pyc

# Ignore conf
conf/spotify-access-token
conf/spotify-secret.json
conf/api-conf.json

# Ignore installed playlists
data/*

# Ignore database changes
database/database.db

# Ignore api logs
logs/server.log

# Ignore media
*.mp3